<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-8'>
                <div class='card'>
                    <div class='card-header'>All Article</div>
                    <div class='card-body'>
                        <router-link :to="{ name: 'create' }" class="btn btn-primary">Create new article</router-link>
                        <br/>
                        <br/>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center" width="50">No</th>
                                    <th>Title</th>
                                    <th class="text-center" width="200">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr :key="article.id" v-for="(article, index) in articles">
                                    <td class="text-center" width="50">{{ index + 1 }}</td>
                                    <td>{{ article.title }}</td>
                                    <td class="text-center" width="200">
                                        <div class="btn-group">
                                            <router-link :to="{name: 'show', params: { id: article.id }}"
                                                         class="btn btn-primary">Detail
                                            </router-link>
                                            <router-link :to="{name: 'edit', params: { id: article.id }}"
                                                         class="btn btn-success">Edit
                                            </router-link>
                                            <button @click="deletePost(article.id)" class="btn btn-danger">Delete
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            articles: []
        }
    },
    created() {
        let uri = 'api/articles';
        this.axios.get(uri).then(response => {
            this.articles = response.data;
        });
    },
    methods: {
        deletePost(id) {
            this.$swal.fire({
                title: 'Apakah kamu yakin?',
                text: "Jika kamu hapus, maka data tidak akan kembali lagi.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Hapus Deh',
                cancelButtonText: 'Nggak Jadi'
            }).then((result) => {
                if (result.value) {
                    this.$swal.fire({
                        title: 'Success!',
                        text: 'Article deleted successfully',
                        icon: 'success',
                        timer: 1000
                    });
                    let uri = `api/article/delete/${id}`;
                    this.axios.delete(uri).then(response => {
                        this.articles.splice(this.articles.indexOf(id), 1);
                    });
                    console.log("Deleted article with id ..." + id);
                }
            })
        }
    }
}
</script>
